{% load static %}
<div class="footer">
    <div class="newsletter-footer"></div>
    <div class="main-footer">
        <div class="container">
            <div class="row">
                <div class="col gioi-thieu">
                    <h3>GIỚI THIỆU</h3>
                    <div><a href="">Về drake</a></div>
                    <div><a href="">Cửa hàng</a></div>
                    <div><a href="">Khuyến mãi</a></div>
                    <div><a href="">Về drake</a></div>
                </div>
                <div class="col thong-tin">
                    <h3>THÔNG TIN</h3>
                    <div><a href="">Chính sách và quy định chung</a></div>
                    <div><a href="">Quy định và hình thức thành toán</a></div>
                    <div><a href="">Chính sách vận chuyển, giao nhận</a></div>
                    <div><a href="">Chính sách bảo hành - đổi/trả</a></div>
                    <div><a href="">Chính sách bảo mật</a></div>
                </div>
                <div class="col ho-tro">
                    <h3>HỖ TRỢ</h3>
                    <div><a href="">Hỗ trợ trực tuyến</a></div>
                    <div><a href="">Đối tác</a></div>
                    <div><a href="">Tuyển dụng</a></div>
                    <div><a href="">Kiểm tra đơn hàng</a></div>
                </div>
                <div class="col anh">
                    <h3>HỖ TRỢ THANH TOÁN</h3>
                    <a href=""><img src="{% static '/images/logopayment.jpg' %}" alt=""></a>
                    <h3>FOLLOW US</h3>
                    <a href="" class="imgs"><img src="{% static '/images/fb.png' %}" alt=""></a>
                    <a href="" class="imgs"><img src="{% static '/images/ins.png' %}" alt=""></a>
                    <a href="" class="imgs"><img src="{% static '/images/zalo.png' %}" alt=""></a>
                    <a href="" class="imgs"><img src="{% static '/images/yt.png' %}" alt=""></a>
                    <a href="" class="imgs"><img src="{% static '/images/shopee.png' %}" alt=""></a>
                    <a href="" class="imgs"><img src="{% static '/images/lazada.png' %}" alt=""></a>
                    <a href="" class="imgs"><img src="{% static '/images/tiktok.png' %}" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <p style="text-align: center;">@DRAKE-FAKE - All Rights Reserved. Thiết kế web bởi BaoBel</p>
</div>