{% load static %}
<div class="header">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6">
                    <ul class="info-header-top">
                        <li>
                            Hotline: <a href="tel:1800.0080">1800.0080</a>
                        </li>
                        <li>
                            <i class="fa fa-building"></i>
                            <a href="#">Cửa hàng</a>
                        </li>
                        {% if user.is_authenticated %}
                            <li>
                            <a href="#">
                                <i class="fa fa-user" style="padding-right: 3px;"></i>{{ user.username }}
                            </a>
                        </li>
                        <li>
                            <a href="{%url 'Logout'%}">
                                <i class="fa-solid fa-right-from-bracket" style="padding-right: 3px;"></i>Đăng xuất
                            </a>
                        </li>
                        {% else %}
                        <li>
                            <a href="{%url 'Register'%}">
                                <i class="fa fa-lock"></i>Đăng kí
                            </a>
                        </li>
                        <li>
                            <a href="{%url 'Login'%}">
                                <i class="fa fa-user"></i>Đăng nhập
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="header-center">
        <div class="container">
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6">
                    <div class="logo">
                        <a href="{%url 'Index'%}">
                            <img src="{% static '/images/drake_logo.png' %}" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-3">
                    <div class="text-right d-flex">
                        <div>
                            <a href="#" id="yeu_thich"><i class="fa-regular fa-heart" style="color: #ffffff;"></i></a>
                        </div>
                        <div class="box-shopping-cart">
                            <a href="#" class="icon-cart">
                                <i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i>
                            </a>
                            <div class="number-shopping-cart">0</div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
<hr>
    <div class="carousel-information container">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <p class="text-center">Email Hỗ Trợ: dohoanggiabao2410@gmail.com</p>
              </div>
              <div class="carousel-item">
                <p class="text-center">Miễn phí vận chuyển toàn quốc</p>
              </div>
              <div class="carousel-item">
                <p class="text-center">Đăng kí hoặc gọi 0862446258 để cập nhật chương trình khuyến mãi</p>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                <i class="fa-solid fa-greater-than fa-rotate-180" style="color: #000000;"></i>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                <i class="fa-solid fa-greater-than" style="color: #000000;"></i>
            </button>
          </div>
    </div>


<div class="header-bottom"> 
    <div class="container">
        <div class="item-header-bottom">
            
            <ul class="navbar-menu">
                <li class="item-navbar-menu"><a href="{% url 'GetAllProductByCategory' 1 %}"> CONVERSE</a></li>
                <li class="item-navbar-menu"><a href="{% url 'GetAllProductByCategory' 2 %}">VANS</a></li>
                <li class="item-navbar-menu"><a href="{% url 'GetAllProductByCategory' 3 %}">PALLADIUM</a></li>
                <li class="item-navbar-menu"><a href="{% url 'GetAllProductByCategory' 4 %}">NEW BALANCE</a></li>
                <li class="item-navbar-menu"><a href="{% url 'GetAllProductByCategory' 5 %}">SNEAKER BUZZ</a></li>
                <li class="item-navbar-menu"><a href="{% url 'GetAllProductByCategory' 6 %}">NCAA</a></li>
                <li class="item-navbar-menu"><a href="{% url 'GetAllProductByCategory' 7 %}">SUPRA</a></li>
                <li class="item-navbar-menu"><a href="{% url 'GetAllProductByCategory' 8 %}">ACCESSORIES</a></li>
                <li class="item-navbar-menu"><a href="{% url 'GetAllProductByCategory' 9 %}">SALES</a></li>
                <input>
            </ul>
        </div>
    </div>
</div>
</div>